@using LogMyWork.Models
@using LogMyWork.Consts
@model IEnumerable<ProjectTask>

@{
    ViewBag.Title = "Index";
}
@{
    TimeEntry timeEntry = (TimeEntry)Session[SessionKeys.CurrentTimeEntry];
}
<h2>Index</h2>

@Html.Partial("~/Views/Partials/TaskList.cshtml", Model)
