@using LogMyWork.ViewModels.Tasks
@using LogMyWork.Consts
@using LogMyWork.Models
@model TaskIndex

@{
    ViewBag.Title = "Index";
}
@{
//TimeEntry timeEntry = (TimeEntry)Session[SessionKeys.CurrentTimeEntry];
}
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("~/Views/Partials/TaskList.cshtml", Model)
