/.vs
/LoggingModule
/Packages
/LogMyWork/bin/
/LogMyWork/obj/
/LogMyWork/App_Data/
/LogMyWork/Attachments/
*.mdf
LogMyWork/App_Data/aspnet-LogMyWork-20160905120332_log.ldf
*.mdf
*.pdb
Commons/obj/
Commons/bin/
*.mdf
*.cache
/LogMyWork/Properties/PublishProfiles/
*.dll
LogMyWork/Web.Release.config