@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LogMyWork</h1>
    <p class="lead">LogMyWork lets you manage your team easily... Oh did I mention it's completely free and open-source?</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign up now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage your team</h2>
        <p>
            LogMyWork enables you to manage your project smoothly and keep all matters organized by assigning tasks and monitoring your issues.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Track your work</h2>
        <p>Keep track of your working time easily. Revise all the time you've spent on your project using an advanced filtering system. </p>
    </div>
    <div class="col-md-4">
        <h2>Keep things transparent</h2>
        <p>The hierarchical permission system will let the managers keep an eye on what's going on in their projects.</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-8">
        <a href="https://github.com/holgus103/LogMyWork"><img src="@Url.Content("~/Content/img/GitHub-Mark-64px.png")"</a>
        <h4>Check us out!</h4>
    </div>
</div>