@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LogMyWork</h1>
    <p class="lead">LogMyWork lets you manage your team easily... Oh did I mention it's completely free and open-source?</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Sign up now &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Manage your team</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Track your work</h2>
        <p>Keep track of your working time easily </p>
    </div>
    <div class="col-md-4">
        <h2>Keep things transparent</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>